<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
        <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="style.css" >
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <title>ModBus Commander</title>
    </head>

    <body>
        <header>
            <h1>ModBus Commander</h1>
        </header>

        <section id="logwin"> 
        </section>

        <section id="inputZone"> 
            <input id="command" class="vertical-align" type="text" />
            <button id="sendBtn" class="vertical-align" type="button">Send</button>
        </section>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
