* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
}

body {
    /*
    background-color: #cdcdcd;
    */
}

#content {
    display: flex;
}

#left {
    display: flex;
    flex-flow: column;
    margin: 0px 20px 0px 20px;
}

#right {
    display: flex;
    flex-flow: column;
}

#title {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}

.commandbox {
}

.responsebox {
}

#logobox {
    margin-top: auto;
    margin-bottom: 10px;
}

#logo {
    padding: 30px 0px 0px 50px;
}

input#command {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: #00d051;
    background-color: #300a24;
    margin-top: 5px;
}

#response {
    color: #0c9d73;
    /*
    color: #c2ff89;
    */
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    overflow-y: scroll;
    min-height: 300px;
    max-height: 600px;
    min-width: 750px;
    margin-top: 20px;
    border: #aaaaaa solid 1px;
}

#logwin {
    flex: 1;
    display: grid;
    margin: 5px 10px;
    border: #aaaaaa solid 1px;
    grid-template-columns: 230px auto;
    align-items: start;
    overflow-y: scroll;
    min-width: 800px;
    min-height: 350px;
    max-height: 800px;
    /*
    color: #00d051;
    background-color: #000000;
    */
}

#console {
    display: grid;
    margin: 5px 10px;
    padding: 10px 40px 10px 40px;
    border: #aaaaaa solid 1px;
    grid-template-columns: 260px auto;
    align-items: start;
    grid-column-gap: 30px;
}

.logitem {
    margin: 0px 2px 0px 2px;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    vertical-align: top;
}

.even-line {
    background-color: #ffffff;
}

.odd-line {
    background-color: #efefef;
}

.responseline {
    margin: 0px 5px 0px 5px;
}
